<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Update24/7</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/sports">Sports</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container mt-5">
        <section class="about">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="bg-light p-3 h-100">
                        <h4>Google Map Location</h4>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.1914995106576!2d77.00024787468718!3d11.024254389139978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8582f1435fa59%3A0x137d95bfd8909293!2sPSG%20College%20Of%20Technology%20-!5e0!3m2!1sen!2sin!4v1720686361979!5m2!1sen!2sin" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="bg-light p-3 h-100">
                        <h4>Company Information</h4>
                        <p>
                           
                            
                            <h5>About Us</h5>
                            
                            Welcome to update24/7 news, where we bring you the latest news and updates around the clock. Founded with a commitment to delivering accurate and timely news coverage, we aim to inform, educate, and engage our audience with insightful journalism.
                            
                            <h5>Our Mission</h5>
                            
                            At update24/7 news, our mission is to provide comprehensive coverage of industry news, ensuring our readers stay informed about what matters most. We strive to uphold the highest standards of journalism, delivering content that is reliable and relevant.
                            
                            <h5>What We Do</h5>
                            
                            Specializing in breaking news, features, analysis, we cater to a diverse audience seeking reliable information and in-depth insights into current events and trends. </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class=" fixed-footer bg-light text-center py-3 footer">
        <p>&copy; 2024 Company Name | Contact: 123-456-7890</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>
